# Environment Configuration
NODE_ENV=development
PORT=3000

# Frontend
CLIENT_URL=http://localhost:5173

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/smart-bachelor-life

# Redis
REDIS_URL=redis://default:password@localhost:6379

# Firebase Admin SDK
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@your-firebase-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# ImageKit (File Storage)
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id

# SendGrid (Email Service)
SENDGRID_API_KEY=SG.your_sendgrid_api_key
EMAIL_USER=noreply@yourdomain.com

# Stripe (Payments)
STRIPE_SECRET_KEY=sk_test_your_stripe_test_key
STRIPE_CURRENCY=bdt
